:root {
  --gap-5: 5px;
  --gap-15: 15px;
  --gap-25: 25px;
  --gap-35: 35px;
  --gap-50: 50px;
  --font-s-12: 12px;
  --font-s-16: 16px;
  --font-s-20: 20px;
  --font-s-24: 24px;
  --font-s-25: 25px;
  --font-s-30: 30px;
  --font-s-35: 35px;
  --font-s-50: 50px;
  --font-s-75: 75px;
}

/* 背景色 */
.bg-black {
  background-color: var(--black) !important;
}

.bg-red {
  background-color: var(--red) !important;
}

.bg-orange {
  background-color: var(--orange) !important;
}

.bg-yellow {
  background-color: var(--yellow) !important;
}

.bg-green {
  background-color: var(--green) !important;
}

.bg-cyan {
  background-color: var(--cyan) !important;
}

.bg-blue {
  background-color: var(--blue) !important;
}

.bg-purple {
  background-color: var(--purple) !important;
}

.bg-pink {
  background-color: var(--pink) !important;
}

/* 鼠标样式 */
.cursor-default {
  cursor: url("../../assets/icon/cur/default.png"), auto !important;
}

.cursor-pointer {
  cursor: url("../../assets/icon/cur/pointer.png"), auto !important;
}

.cursor-not-allowed {
  cursor: url("../../assets/icon/cur/not-allowed.png"), auto !important;
}

/* 溢出省略号显示单行 */
.lyb-one-line {
  word-break: break-all;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* 溢出省略号显示多行 */
.lyb-two-line,
.lyb-three-line {
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.lyb-two-line {
  -webkit-line-clamp: 2;
}

.lyb-three-line {
  -webkit-line-clamp: 3;
}

/* 按钮必加 */
.lyb-button {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* 布局 */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
